#!/usr/bin/zsh

# _did_you_mean() {
#   echo "Did you mean '$1'?"; return 1
# }

pdfcat() {
  command -v pdftotext &> /dev/null && \
    for f in "$@"; do
      pdftotext "$f" - | less
    done
}

curl() {
  /usr/bin/curl "$@"
  echo
}

usrbinlink() {
  mv "$1" /usr/local/bin/ && ln -s /usr/local/bin/"$1" .
}

v-which() {
  "$(command -v nvim)" "$(command -v "$1")"
}

nvm-init() {
  export NVM_DIR="$HOME/.nvm"
  if [ -s "$NVM_DIR/nvm.sh" ]; then
    # shellcheck source=~/.nvm/nvm.sh
    . "$NVM_DIR/nvm.sh"
  fi
}

cd() {
  builtin cd "$@" || return 1
  eval "$_cd_cmd"
}

pretty-print-path() {
  echo "${PATH//:/\n}" | sort
}

if hash exa 2>/dev/null; then
  alias e="exa --classify --group-directories-first --all"
  alias el="${aliases[e]} --long"
  alias ee="${aliases[e]} --long"
  alias es="${aliases[el]} --header --binary --group"
  alias ea="${aliases[es]} --all"
  alias e1="exa -1 --all"
  alias et="exa -T"
  [[ "${aliases[l]}" ]] && unalias l
  [[ "${aliases[ls]}" ]] && unalias ls
  [[ "${aliases[la]}" ]] && unalias la
  _cd_cmd="exa --classify --group-directories-first --all"
else
  alias l="ls -ha"
  alias ll="ls -hls"
  _cd_cmd="ls -a"
fi
alias IGNORE_PROXY='ALL_PROXY="" HTTPS_PROXY="" HTTP_PROXY=""'
alias tat="tmux attach"
alias bdate="date '+%Y-%M-%d'"
alias df='df -h'
alias dockerun="docker run --rm -t -i"
alias dt="tmux detach"
alias du='du -h'
alias gotop="TERM=xterm-256color gotop"
alias gs="echo \"No ghostscript, you spanner\""
alias lg="lazygit"
alias mci="mvn clean install"
alias nettest="ping -c 2 google.com"
alias podrun="podman run --rm -t -i"
alias q="_yes_or_no 'Are you sure?' && systemctl poweroff -i"
alias qt="tmux kill-session"
alias reboot="_yes_or_no 'Are you sure?' && systemctl reboot -i"
# alias rm="_did_you_mean 'rem'"
alias scim="TERM=xterm-256color scim"
alias t="task"
alias tkeep="tmux kill-session -a"
alias tkill="tmux kill-server"
alias tlist="tmux list-session"
alias v-novirk="$(command -v nvim) +\"let g:virk_enabled=0\""
alias v-startup="$(command -v nvim) --startuptime /tmp/nvim.log -c 'qall' && v-novirk /tmp/nvim.log"
alias v="nvim"
# alias vim="_did_you_mean 'v'"
alias xi="xclip -in -selection clipboard"
alias xo="xclip -out -selection clipboard"
command -v xdg-open &> /dev/null && alias open="xdg-open"
