#!/usr/bin/zsh

_did_you_mean() {
	echo "Did you mean '$1'?"; return 1
}

pdfcat() {
	for f in "$@"; do
		pdftotext "$f" - | less
	done
}

alias q="_yes_or_no 'Are you sure?' && systemctl poweroff -i"
alias reboot="_yes_or_no 'Are you sure?' && systemctl reboot -i"
alias l="ls -ha"
alias ll="ls -hls"
alias gs="echo \"No ghostscript, you spanner\""
# alias texclean="rm *.log *.aux *.toc *.lof *.lot *.out *.dvi"
alias nettest="ping -c 2 google.com"
# Tmux
alias tkill="tmux kill-server"
alias tkeep="tmux kill-session -a"
alias tlist="tmux list-session"
alias qt="tmux kill-session"
alias at="tmux attach"
alias dt="tmux detach"
alias du='du -h'
alias df='df -h'
if hash exa 2>/dev/null; then
	alias e="exa --classify --group-directories-first --all"
	alias el="${aliases[e]} --long"
	alias ee="${aliases[e]} --long"
	alias es="${aliases[el]} --header --binary --group"
	alias ea="${aliases[es]} --all"
	alias e1="exa -1 --all"
	alias et="exa -T"
	[[ "${aliases[l]}" ]] && unalias l
	[[ "${aliases[ls]}" ]] && unalias ls
	[[ "${aliases[la]}" ]] && unalias la
else
	alias l="ls -ha"
	alias ll="ls -hls"
fi
alias vim="_did_you_mean 'v'"
alias rm="_did_you_mean 'rem'"
alias v="nvim"
alias mci="mvn clean install"
alias scim="TERM=xterm-256color scim"
alias gotop="TERM=xterm-256color gotop"

alias IGNORE_PROXY="ALL_PROXY=\"\" HTTPS_PROXY=\"\" HTTP_PROXY=\"\" "
alias bdate="date '+%Y-%M-%d'"
alias -g and="&&"
alias -g or="||"
alias xi="xclip -in -selection clipboard"
alias xo="xclip -out -selection clipboard"
alias dockerun="docker run --rm -t -i"
alias podrun="podman run --rm -t -i"
alias IGNORE_PROXY='ALL_PROXY="" HTTPS_PROXY="" HTTP_PROXY=""'
