Xft.dpi: 175

URxvt*scrollBar: false
URxvt*font: xft:Hack:size=10

! special
*.foreground:   #cdc9c4
*.background:   #10100f
*.cursorColor:  #cdc9c4

! black
*.color0:       #1a1a18
*.color8:       #dea9ed

! red
*.color1:       #232221
*.color9:       #d88f9f

! green
*.color2:       #343332
*.color10:      #e3849b

! yellow
*.color3:       #4c4a48
*.color11:      #75c7bc

! blue
*.color4:       #6a6865
*.color12:      #6fb5e8

! magenta
*.color5:       #8e8b87
*.color13:      #77e4d5

! cyan
*.color6:       #b7b4af
*.color14:      #e78ba1

! white
*.color7:       #e4e2e0
*.color15:      #7bb0a8
